{% extends 'base.html' %}
{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Ação</th>
                <th>Preço Medio</th>
                <th>Preço Fechamento</th>
                <th>Mma</th>
                <th>Fundo</th>
                <th>Topo</th>
                <th colspan=2>Hight Low</th>
                <th colspan=2>Bandas de Bollinger</th>
                <th >RSI</th>
                <th >Volume</th>
                <th colspan=3>Avg Volume</th>


            </tr>
        </thead>
        <tbody>
            {% for x in info %}
            <tr>
                <td>{{ x.acao|upper }}</td>
                <td>{{ x.info.pm }}</td>
                <td>{{ x.info.preco_acao }}</td>

                {% if x.info.mma.info.buy == True %}
                    <td class="text-success">{{ x.info.mma.mma }}</td>
                {% else %}
                    <td class="text-danger">{{ x.info.mma.mma }}</td>
                {% endif %}


                {% if x.info.topo_fundo.bottom.0 == False %}
                    <td class="text-danger"> {{ x.info.topo_fundo.bottom.1 }}</td>
                {% else %}
                    <td class="text-success"> {{ x.info.topo_fundo.bottom.1 }}</td>
                {% endif %}


                {% if x.info.topo_fundo.top.0 == False %}
                    <td class="text-danger"> {{ x.info.topo_fundo.top.1 }}</td>
                {% else %}
                    <td class="text-success"> {{ x.info.topo_fundo.top.1 }}</td>
                {% endif %}

                {% if x.info.hilo.hilo == 'none' %}
                    <td >{{ x.info.hilo.info.bottom }}</td>
                    <td >{{ x.info.hilo.info.top }}</td>
                {% elif x.info.hilo.hilo == 'buy'  %}
                    <td class="text-success">{{ x.info.hilo.info.bottom }}</td>
                    <td class="text-success">{{ x.info.hilo.info.top }}</td>
                {% elif x.info.hilo.hilo == 'sell'  %}
                    <td class="text-danger">{{ x.info.hilo.info.bottom }}</td>
                    <td class="text-danger">{{ x.info.hilo.info.top }}</td>
                {% endif %}

                {% if x.info.bandas_de_bolinger.bollinger == 'none' %}
                    <td>{{ x.info.bandas_de_bolinger.dados.bottom }}</td>
                    <td>{{ x.info.bandas_de_bolinger.dados.top }}</td>
                {% elif x.info.bandas_de_bolinger.bollinger == 'buy' %}
                    <td class="text-success">{{ x.info.bandas_de_bolinger.dados.bottom }}</td>
                    <td class="text-success">{{ x.info.bandas_de_bolinger.dados.top }}</td>
                {% elif x.info.bandas_de_bolinger.bollinger == 'sell' %}
                    <td class="text-danger">{{ x.info.bandas_de_bolinger.dados.bottom }}</td>
                    <td class="text-danger">{{ x.info.bandas_de_bolinger.dados.top }}</td>
                {% endif %}

                {% if x.info.rsi.dados == 'none' %}
                    <td>{{ x.info.rsi.ifr }}</td>
                {% elif x.info.rsi.dados == 'buy' %}
                    <td class="text-success">{{ x.info.rsi.ifr }}</td>
                {% elif x.info.rsi.dados == 'sell' %}
                <td class="text-danger">{{ x.info.rsi.ifr }}</td>
                {% endif %}


                <td>{{ x.info.avg_vol.volume }}</td>
                <td>{{ x.info.avg_vol.dados.avg_vol }}</td>
                <td>{{ x.info.avg_vol.dados.high }}</td>
                <td>{{ x.info.avg_vol.dados.percent }}</td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}