{% block content %}
<div>
    <form method='post'>
        {% csrf_token %}
        <div>
            Data
            <input type="date" class="form-control" id="data" name="data">
        </div>
        <div>
            Nacional
            <input type="checkbox" class="form-control" id="nacional" name="nacional">
        </div>
        <div>
            Ação
            <input type="text" class="form-control" id="acao" name="acao">
        </div>
        <div>
            Quantidade
            <input type="number" class="form-control" id="quantidade" name="quantidade">
        </div>
        <div>
            Preço Medio
            <input type="number" step="0.01" class="form-control" id="preco_medio" name="preco_medio">
        </div>
        <div>
            <button id="form-submit" type="submit">Enviar</button>
        </div>

    </form>
</div>
{% endblock %}