{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="4">Variação do Patrimonio</th>
                </tr>
                <tr>
                    <th></th>
                    <th>Total</th>
                    <th>Brasil</th>
                    <th>USA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>Fechamento</th>
                    <td>R$ {{ patrimonio.candle_carteira.candle_total.close }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_br.close }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_usa.close }}</td>
                </tr>
                <tr>
                    <th>Abertura</th>
                    <td>R$ {{ patrimonio.candle_carteira.candle_total.open }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_br.open }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_usa.open }}</td>
                </tr>
                <tr>
                    <th>Máxima</th>
                    <td>R$ {{ patrimonio.candle_carteira.candle_total.maxima }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_br.maxima }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_usa.maxima }}</td>
                </tr>
                <tr>
                    <th>Mínima</th>
                    <td>R$ {{ patrimonio.candle_carteira.candle_total.minima }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_br.minima }}</td>
                    <td>R$ {{ patrimonio.candle_carteira.candle_usa.minima }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Volatilidade da Carteira</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Total</th>
                        <th>Brasil</th>
                        <th>USA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Vol Diária</th>
                        <td>{{ patrimonio.volatilidade.volatilidade_diaria.rent_total }}% </td>
                        <td>{{ patrimonio.volatilidade.volatilidade_diaria.rent_br }}% </td>
                        <td>{{ patrimonio.volatilidade.volatilidade_diaria.rent_usa }}% </td>
                    </tr>
                    <tr>
                        <th>Vol Anual</th>
                        <td>{{ patrimonio.volatilidade.volatilidade_anual.rent_total }}% </td>
                        <td>{{ patrimonio.volatilidade.volatilidade_anual.rent_br }}% </td>
                        <td>{{ patrimonio.volatilidade.volatilidade_anual.rent_usa }}% </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="4">Volatilidade Média</th>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <th>Brasil</th>
                        <th>USA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ patrimonio.volatilidade.volatilidade_media.rent_total }}% </td>
                        <td>{{ patrimonio.volatilidade.volatilidade_media.rent_br }}% </td>
                        <td>{{ patrimonio.volatilidade.volatilidade_media.rent_usa }}% </td>
                    </tr>
                </tbody>
            </table>
            <a class="btn btn-primary" href="{% url 'historico_patrimonio' %}"> Histórico </a>
        </div>
    </div>
</div>
    
{% endblock %}