{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Patrimonio Total</th>
                    <th>Patrimonio no Brasil</th>
                    <th>Patrimonio nos Estados Unidos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>R$ {{ info.patrimonio.patrimonio.patrimonio_total.pos }}</td>
                    <td>R$ {{ info.patrimonio.patrimonio.patrimonio_br.pos }}</td>
                    <td>R$ {{ info.patrimonio.patrimonio.patrimonio_usa.pos }}</td>
                </tr>
                <tr>
                    <td>{{ info.patrimonio.patrimonio.patrimonio_total.peso }} %</td>
                    <td>{{ info.patrimonio.patrimonio.patrimonio_br.peso }} %</td>
                    <td>{{ info.patrimonio.patrimonio.patrimonio_usa.peso }} %</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Caixa Total</th>
                    <th>Caixa no Brasil</th>
                    <th>Caixa nos Estados Unidos</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>R$ {{ info.patrimonio.caixa.caixa_total.pos }}</td>
                    <td>R$ {{ info.patrimonio.caixa.caixa_br.pos }} <a class="fas fa-pen" href="{% url 'caixa_form_br' %}"></a></a></td>
                    <td>$ {{ info.patrimonio.caixa.caixa_usa.pos }} <a class="fas fa-pen" href="{% url 'caixa_form_usa' %}"></a></a></td>
                </tr>
                <tr>
                    <td>{{ info.patrimonio.caixa.caixa_total.peso }} %</td>
                    <td>{{ info.patrimonio.caixa.caixa_br.peso }} %</td>
                    <td>{{ info.patrimonio.caixa.caixa_usa.peso }} % </td>
                </tr>
                <thead>
                    <tr>
                        <th>Ações Total</th>
                        <th>Ações no Brasil</th>
                        <th>Ações nos Estados Unidos</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>R$ {{ info.patrimonio.acao.posicao_total.pos }}</td>
                        <td>R$ {{ info.patrimonio.acao.posicao_br.pos }}</td>
                        <td>$ {{ info.patrimonio.acao.posicao_usa.pos }}</td>
                    </tr>
                    <tr>
                        <td>{{ info.patrimonio.acao.posicao_total.peso }} %</td>
                        <td>{{ info.patrimonio.acao.posicao_br.peso }} %</td>
                        <td>{{ info.patrimonio.acao.posicao_usa.peso }} %</td>
                    </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Ação</th>
                    <th>País</th>
                    <th>Preço Fechamento</th>
                    <th>Preço Médio</th>
                    <th>Quantidade</th>
                    <th>Posição</th>
                    <th>Lucro</th>
                    <th>Peso</th>
                    <th>Retorno</th>
                </tr>
            </thead>
            <tbody>
                {% for x in carteira %}
                <tr>
                    <td>{{ x.acao|upper }}</td>
                    {% if x.nacional == True %}
                    <td>&#127463;&#127479;</td>
                    <td>R$ {{ x.preco_acao }}</td>
                    <td>R$ {{ x.pm }}</td>
                    <td>{{ x.qtd }}</td>
                    <td>R$ {{ x.pos }}</td>
                    <td>R$ {{ x.lucro }}</td>
                    <td>{{ x.peso }} % </td>
                    <td>{{ x.retorno_no_patrimonio }} %</td>

                    {% else %}

                    <td>&#127482;&#127480;</td>
                    <td>$ {{ x.preco_acao }}</td>
                    <td>$ {{ x.pm }}</td>
                    <td>{{ x.qtd }}</td>
                    <td>$ {{ x.pos }}</td>
                    <td>$ {{ x.lucro }}</td>
                    <td>{{ x.peso }} %</td>
                    <td>{{ x.retorno_no_patrimonio }} %</td>
                    
                    {% endif %}

                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
  </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <a class="btn btn-success" href="{% url 'compra_form' %}"> Compra </a>
            </div>
            <div class="col">
                <a class="btn btn-danger" href="{% url 'venda_form' %}"> Venda </a>
            </div>
        </div>
    </div>
    
    

  
{% endblock %}