{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="3"  >Lucro Mensal</th>
                </tr>
                <tr>
                    <th>Lucro Total</th>
                    <th>Lucro Brasil</th>
                    <th>Lucro USA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>R$ {{ ir.relatorio.imposto_de_renda.lucro_mensal.lucro.lucro_total }}</td>
                    <td>R$ {{ ir.relatorio.imposto_de_renda.lucro_mensal.lucro.lucro_br }}</td>
                    <td>R$ {{ ir.relatorio.imposto_de_renda.lucro_mensal.lucro.lucro_usa }}</td>
                </tr>
            </tbody>
        </table>
      </div>
      <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th colspan="2"  >Movimentação Mensal</th>
                </tr>
                <tr>
                    <th>Movimentação Brasil</th>
                    <th>Movimentação USA</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>R$ {{ ir.relatorio.imposto_de_renda.mov_mensal.movimentacao.mov_br }}</td>
                    <td>R$ {{ ir.relatorio.imposto_de_renda.mov_mensal.movimentacao.mov_usa }}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2"  >Pagamento DARF</th>
                    </tr>
                    <tr>
                        <th>DARF Brasil</th>
                        <th>DARF USA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>R$ {{ ir.relatorio.imposto_de_renda.pagamento.darf.darf_br }}</td>
                        <td>R$ {{ ir.relatorio.imposto_de_renda.pagamento.darf.darf_usa }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="2">Isenção Movimentação</th>
                    </tr>
                    <tr>
                        <th>Movimentação restante Brasil</th>
                        <th>Movimentação restante USA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>R$ {{ ir.relatorio.imposto_de_renda.mov_mensal.isencao_mov.isento_br }}</td>
                        <td>R$ {{ ir.relatorio.imposto_de_renda.mov_mensal.isencao_mov.isento_usa }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5"  >Relatorio de Movimentação Mensal e Pagamento de DARF</th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Movimentação Brasil</th>
                        <th>Movimentação USA</th>
                        <th>DARF Brasil</th>
                        <th>DARF USA</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Janeiro</th>
                        <td>R$ {{ ir.vendas_anuais.1.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.1.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.1.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.1.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Fevereiro</th>
                        <td>R$ {{ ir.vendas_anuais.2.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.2.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.2.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.2.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Março</th>
                        <td>R$ {{ ir.vendas_anuais.3.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.3.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.3.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.3.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Abril</th>
                        <td>R$ {{ ir.vendas_anuais.4.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.4.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.4.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.4.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Maio</th>
                        <td>R$ {{ ir.vendas_anuais.5.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.5.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.5.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.5.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Junho</th>
                        <td>R$ {{ ir.vendas_anuais.6.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.6.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.6.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.6.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Julho</th>
                        <td>R$ {{ ir.vendas_anuais.7.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.7.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.7.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.7.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Agosto</th>
                        <td>R$ {{ ir.vendas_anuais.8.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.8.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.8.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.8.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Setembro</th>
                        <td>R$ {{ ir.vendas_anuais.9.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.9.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.9.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.9.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Outubro</th>
                        <td>R$ {{ ir.vendas_anuais.10.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.10.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.10.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.10.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Novembro</th>
                        <td>R$ {{ ir.vendas_anuais.11.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.11.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.11.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.11.0.darf.darf_usa }}</td>
                    </tr>
                    <tr>
                        <th>Dezembro</th>
                        <td>R$ {{ ir.vendas_anuais.12.1.movimentacao.mov_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.12.1.movimentacao.mov_usa }}</td>
                        <td>R$ {{ ir.vendas_anuais.12.0.darf.darf_br }}</td>
                        <td>R$ {{ ir.vendas_anuais.12.0.darf.darf_usa }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
    
{% endblock %}